*{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

h1{
    background-color: purple;
    color: aliceblue;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    gap: 4rem;
    margin-top: 5rem;
}

#user-score,#computer-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
}
    
#msg{
   background-color: purple;
   color: aliceblue;
   font-size: 2rem;
   display: inline;
   padding: 1rem;
   border-radius: 1rem;
}